<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h2>
   <span class="h2__span h2__span--pink">Witamy</span> na platformie z <span class="h2__span h2__span--green">materiałami do nauki</span> programowania dla <span class="h2__span h2__span--pink">dzieci</span>!

  </h2>
  <img width="100%" alt="" src="../assets/img/background1.jpg">
</div>


<ul class="nav nav-pills justify-content-center">
  <li class= "nav-item">
    <a class="nav-link" routerLink="about" routerLinkActive="active">O mnie</a>
  </li>
  <li class= "nav-item">
    <a class="nav-link" routerLink="materials" routerLinkActive="active">Materiały</a>
  </li>
  <li class= "nav-item">
    <a class="nav-link" routerLink="contact" routerLinkActive="active">Kontakt</a>
  </li>
  <li class= "nav-item">
    <a class="nav-link" routerLink="contact" routerLinkActive="active">Zaloguj</a>
  </li>
</ul>


<router-outlet></router-outlet>
